<form [formGroup]="AddProductForm" (ngSubmit)="addProduct()">
    <div class="form-group">
      <label for="productId">ID</label>
      <input type="number" step="1" class="form-control" id="productId" name="id" formControlName="id">
    </div>
    <div class="form-group">
      <label for="productName">Name</label>
      <input type="text" class="form-control" id="productName" name="name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="productPrice">Price</label>
      <input type="text" class="form-control" id="productPrice" name="price" formControlName="price">
    </div>
    <div class="form-group">
      <label for="productImage">Image URL</label>
      <input type="url" class="form-control" id="productImage" name="image" formControlName="image">
    </div>
    <button type="submit" class="btn btn-primary">Create Product</button>
  </form>