<div class="d-flex flex-wrap justify-content-around">
    <div class="card" style="width: 18rem; height: 20rem;" *ngFor="let product of productData">
      <img class="card-img-top" [src]="product.image" alt="Card image cap" style="width:100%; height: 60%;">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <h6 class="card-title">{{product.price}}</h6>
    
         <button class="btn btn-primary" (click)="addToCart(product)">Add To Cart</button>
      </div>
    </div>
  </div>