<div class="main-area">
  <div class="content-area">
    <div class="header">
      <h1>Manage Product</h1>
      <hr>
    </div>

    <div class="container">
      <h3>Create Product</h3>
      <form #productForm="ngForm" (ngSubmit)="onProductCreate(productForm.value)">
        <label>Product Name</label>
        <input type="text" name="pName" ngModel>

        <label>Product Description</label>
        <input type="text" name="desc" ngModel>

        <label>Product Price</label>
        <input type="text" name="price" ngModel>

        <input type="submit" value="Add Product" ngModel>
      </form>
    </div>

    <div class="product-display-area">
      <h3>All Product</h3>
      <table id="products">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
        <tr *ngFor="let product of allProducts; let i = index">
          <td>{{i + 1}} </td>
          <td>{{product.pName}}</td>
          <td>{{product.desc}}</td>
          <td>{{product.price}}</td>
          <td><button>Delete</button></td>
        </tr>
      </table>
      <input type="submit" value="fetch Produt" (click)="onProductFetch()">
    </div>
  </div>
</div>