<h1>Hello World {{title}}</h1>
<!-- <h1>{{data}}</h1>
<h1>{{getvalue}()}</h1> -->
<h1>{{2+2}}</h1>
<h1>{{title==data}}</h1>
<!-- We cannot check type of-->
<!-- We cannot incremental operator-->
<!-- <app-user-list></app-user-list> -->
<!-- <app-login></app-login>
<button (click)="getData('name')">Click me</button>
<button (click)="getNumber()">Click me2</button>
<!-- <button (click)="getData()">Call function</button><br><br> -->

<!-- <br>

<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup">
<br> -->
<input type="text" #box placeholder="Enter Name" name="name">

<button (click)="getData(box.value)"> </button>
<p>Box Value is: {{displayVal}}</p>



<!-- <input type="text" #box2 (input)="getData(box2.value)" placeholder="Enter Name"> -->

