
        <div class="col">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">{{ Type }}</h5>
              <h6 class="card-price text-center">{{ Price }} <span class="period">/month</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{ UserQuantity }}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{ Storage }}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{ PublicProjects }}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{ Community }}</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{ PrivateProjects }}</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{ PhoneSupplier }}</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{ Domains }}</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{ Status }}</li>
              </ul>
              <div class="d-grid">
                <button class="btn btn-primary">Button</button>
              </div>
            </div>
          </div>
        </div>
    